@use "sass:map";
@use "../maps/typography";

$headingExtensions: (
	"2xl": (
		"font-weight": var(--text-weight-bold)
	),
	"xl": (
		"font-weight": var(--text-weight-bold)
	),
	"l": (
		"font-weight": var(--text-weight-semibold)
	),
	"m": (
		"font-weight": var(--text-weight-semibold)
	),
	"s": (
		"font-weight": var(--text-weight-semibold)
	),
	"xs": (
		"font-weight": var(--text-weight-regular),
		"letter-spacing": 1px,
		"text-transform": "uppercase",
	),
);

.heading {
	@each $scale, $size, $ratio in typography.$heading {
		&-#{$scale} {
			font-size: var(--heading-textSize-#{$scale});
			line-height: var(--heading-lineSize-#{$scale});

			$extensions: map.get($headingExtensions, $scale);

			@each $property, $value in $extensions {
				#{$property}: #{$value};
			}
		}
	}
}
