.weight {
	&-hairline {
		font-weight: 100;
	}

	&-extraLight { // thin?
		font-weight: 200;
	}

	&-light {
		font-weight: 300;
	}

	&-regular {
		font-weight: 400;
	}

	&-hairline {
		font-weight: 500;
	}

	&-semiBold {
		font-weight: 600;
	}

	&-bold {
		font-weight: 700;
	}

	&-extraBold {
		font-weight: 800;
	}

	&-black {
		font-weight: 900;
	}
}
