.text {
	&-white {
		color: var(--color-white);
	}

	&-black {
		color: var(--color-black);
	}

	&-gray100 {
		color: var(--color-gray100);
	}

	&-gray200 {
		color: var(--color-gray200);
	}

	&-gray300 {
		color: var(--color-gray300);
	}

	&-gray400 {
		color: var(--color-gray400);
	}

	&-gray500 {
		color: var(--color-gray500);
	}

	&-gray600 {
		color: var(--color-gray600);
	}

	&-gray700 {
		color: var(--color-gray700);
	}

	&-gray800 {
		color: var(--color-gray800);
	}

	&-gray900 {
		color: var(--color-gray900);
	}

	&-blue100 {
		color: var(--color-blue100);
	}

	&-blue200 {
		color: var(--color-blue200);
	}

	&-blue300 {
		color: var(--color-blue300);
	}

	&-blue400 {
		color: var(--color-blue400);
	}

	&-blue500 {
		color: var(--color-blue500);
	}

	&-blue600 {
		color: var(--color-blue600);
	}

	&-blue700 {
		color: var(--color-blue700);
	}

	&-blue800 {
		color: var(--color-blue800);
	}

	&-blue900 {
		color: var(--color-blue900);
	}

	&-green100 {
		color: var(--color-green100);
	}

	&-green200 {
		color: var(--color-green200);
	}

	&-green300 {
		color: var(--color-green300);
	}

	&-green400 {
		color: var(--color-green400);
	}

	&-green500 {
		color: var(--color-green500);
	}

	&-green600 {
		color: var(--color-green600);
	}

	&-green700 {
		color: var(--color-green700);
	}

	&-green800 {
		color: var(--color-green800);
	}

	&-green900 {
		color: var(--color-green900);
	}

	&-yellow100 {
		color: var(--color-yellow100);
	}

	&-yellow200 {
		color: var(--color-yellow200);
	}

	&-yellow300 {
		color: var(--color-yellow300);
	}

	&-yellow400 {
		color: var(--color-yellow400);
	}

	&-yellow500 {
		color: var(--color-yellow500);
	}

	&-yellow600 {
		color: var(--color-yellow600);
	}

	&-yellow700 {
		color: var(--color-yellow700);
	}

	&-yellow800 {
		color: var(--color-yellow800);
	}

	&-yellow900 {
		color: var(--color-yellow900);
	}

	&-red100 {
		color: var(--color-red100);
	}

	&-red200 {
		color: var(--color-red200);
	}

	&-red300 {
		color: var(--color-red300);
	}

	&-red400 {
		color: var(--color-red400);
	}

	&-red500 {
		color: var(--color-red500);
	}

	&-red600 {
		color: var(--color-red600);
	}

	&-red700 {
		color: var(--color-red700);
	}

	&-red800 {
		color: var(--color-red800);
	}

	&-red900 {
		color: var(--color-red900);
	}
}
