:root {
	--color-white: #fff;
	--color-black: #000;

	--color-gray100: #f2f2f2;
	--color-gray200: #ddd;
	--color-gray300: #c9c9c9;
	--color-gray400: #999;
	--color-gray500: #6c6c6c;
	--color-gray600: #484848;
	--color-gray700: #2e2e2e;
	--color-gray800: #1e1e1e;
	--color-gray900: #1a1a1a;

	--color-blue100: #d1f1ff;
	--color-blue200: #a8ddff;
	--color-blue300: #7cc9ff;
	--color-blue400: #5cb4ff;
	--color-blue500: #1493ff;
	--color-blue600: #0c6ee2;
	--color-blue700: #0451bf;
	--color-blue800: #03379a;
	--color-blue900: #0a207f;

	--color-green100: #eeffce;
	--color-green200: #d4ff9a;
	--color-green300: #b1fe62;
	--color-green400: #93f61b;
	--color-green500: #4aed00;
	--color-green600: #0c0;
	--color-green700: #00ac00;
	--color-green800: #008a00;
	--color-green900: #007100;

	--color-yellow100: #fff7d6;
	--color-yellow200: #ffedac;
	--color-yellow300: #ffdd7d;
	--color-yellow400: #ffd15a;
	--color-yellow500: #fb0;
	--color-yellow600: #f19300;
	--color-yellow700: #cc7100;
	--color-yellow800: #a75400;
	--color-yellow900: #8b3e00;

	--color-red100: #ffe3d2;
	--color-red200: #ffbea6;
	--color-red300: #ff9277;
	--color-red400: #ff6456;
	--color-red500: #f00;
	--color-red600: #ff0003;
	--color-red700: #d9001d;
	--color-red800: #ad0022;
	--color-red900: #930026;
}
